body {
    /* background: #ccc; */
    font-family: 'Helvetica Neue',
    Helvetica,
    'PingFang SC',
    'Microsoft Yahei',
    'WenQuanYi Micro Hei',
    Arial,
    Verdana,
    sans-serif
}
.header-wrap{
    position: relative;
}
/* 版心公用 */
.container-md {
    width: 1040px;
    padding: 0 20px;
 /* background: #f00; */
    margin: 0 auto;
}

/* header */
.header {
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
}

.logo {
    width: 100px;
    height: 37px;
    padding: 8px 20px;
    padding-top: 22px;
    float: left;
}

.nav {
    float: right;
}

.nav li {
    float: left;
    line-height: 80px;
    font-size: 16px;
    position: relative;
}
.nav li a {
    color: #fff;
    padding: 0 20px;
}
.layer{
    width: 240px;
    height: 204px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    position: absolute;
    top: 80px;
    left: 0;
    display: none;
}
.layer::before{
  
    content: "";
    display: block;
    position: absolute;
    top:-20px;
    left: 25px;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.nav li:hover .layer{
    display: block;
}

/* header txt */
/* 行高带单位 - 设多少就是多少像素 
   不带单位  - 代表的是字体大小的多少倍 
*/
.header-txt{
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -72px;
    z-index: 2;
}
.font-logo{
    font-size: 67px;
    line-height: 1;
    color: #000;
    margin-bottom: 20px ;
}

.use-btn{
    display: inline-block;
    padding: 14px 26px;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: .1em;
    border-radius: 6px;
}
.swiper-slide img{
    width: 100%;
}
/* 新闻广告模块 */
.news-ad{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, .4);
    padding: 10px 0;
    font-size: 0;
}
.news-ad .news{
    display: inline-block;
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    border-radius: 4px;
    background: linear-gradient(to bottom, #ec614f 0%, #ff2e2e 100%);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}
.headerline-text{
    display: inline-block;
    font-size: 16px;
    color: #fff;
}
/* 广告图片模块 */
.heros{
    margin-left: -2px;
}
.hero{
    float: left;
    width: 25%;
    height: 260px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 24px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    padding-top: 37px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}
.meta-links{
    width: 33.33%;
    float: left;
    padding: 40px 0;
}
.meta-links .icon{
    display: inline-block;
    width: 50px;
    vertical-align: middle;
    height: 50px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.meta-links .txt{
    display: inline-block;
    vertical-align: middle;
    text-align: left
}
.meta-links:nth-child(2){
   text-align: center
}
.meta-links:nth-child(3) {
    text-align: right
}

/* pad适配 */
@media screen and (max-width:1080px){
    .container-md{width: 100%; box-sizing: border-box}
    .nav{display: none;}
    .hero{width: 50%;margin-bottom:2px}
}
/* 手机端适配 */
@media screen and (max-width:640px){
    .font-logo{font-size: 45px;}
    .swiper-slide img{height: 546px;} 
    .headerline-text{width: 80%; margin-left: 8px}
    .news-ad .news{vertical-align: 14px;}
    .hero{width: 100%;}
    .meta-links{width: 100%; padding: 20px 0;}
    .meta-links:nth-child(2){text-align: left}
    .meta-links:nth-child(3){text-align: left}
}